#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

body {
    margin: 0;
}

#container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}